.tile {
    width: 32px;
    height: 32px;
    background-color: bisque;
    /*border: ridge 2px beige;*/

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("water.webp");
    background-size: cover;

    font-size: 9px;
    color: beige;
    user-select: none;
}
.tile:hover {
    filter: saturate(0.5) sepia(1);
}